body {
    font-family: Arial, sans-serif;
    /* background-color: #dbdbdb; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.signup-container {
    margin-top: 20px;
    background-color: #fdefe2;
    padding:20px 50px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 500px;
}

h2 {
    color: #c94b38;
    margin-bottom: 20px;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
}
.signup-container input[type="text"],
.signup-container input[type="password"],
.signup-container input[type="email"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    margin-left: -10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
}
.signup-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #8B4513;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.signup-container input[type="submit"]:hover {
    background-color: #A0522D;
}

.signup-container .login-link {
    margin-top: 15px;
    font-size: 14px;
}

.signup-container .login-link a {
    color: #8B4513;
    text-decoration: none;
}

.signup-container .login-link a:hover {
    text-decoration: underline;
}
