body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('./cover.avif');
    filter: brightness(100%);
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #8B4513;
    color: white;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header .auth-buttons button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    background-color: white;
    color: #8B4513;
    cursor: pointer;
    border-radius: 20px;
}
header .auth-buttons button a {
    color: #8B4513;
    text-decoration: none;

}
