  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image:url('./cover.avif');
    filter: brightness(100%);
    background-size:contain;

    color: #333;
    text-align: center;
  }

  header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      background-color: #8B4513;
      color: white;
  }

  header .logo {
      font-size: 24px;
      font-weight: bold;
  }

  header nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
  }

  header nav ul li {
      margin: 0 15px;
  }

  header nav ul li a {
      color: white;
      text-decoration: none;
  }

  header .auth-buttons button {
      margin-left: 10px;
      padding: 10px 20px;
      border: none;
      background-color: white;
      color: #8B4513;
      cursor: pointer;
      border-radius: 25px;
  }
  header .auth-buttons button a {
    color: #8B4513;
    text-decoration: none;

}
  .container h1{
    color: #c94b38;
      box-shadow: #333 0px 0px 20px;
      position: relative; 
      background-color: #fdefe2;
      height: 40%;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 20px;
  }
  .container {
    width: 100%;
    margin: auto;
    text-align: center;
    color: white;
  }
  .books {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
  .book-card {
    display: inline-block;
    box-shadow: #333 0px 0px 20px;
    background-color: #fdefe2;
    padding: 30px;
    border-radius: 20px;
    width: 250px;
    text-align: center;
    color: #c94b38;
    margin: 10px;
  }
  .book-card img {
    width: 100%;
    border-radius: 5px;
  }
  .book-card h5 {
    margin: 10px 0;
  }
  .rent-btn {
    background-color: #8B4513;
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  .rent-icon{
    background-color: #8B4513;
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  .book-card button a{
        text-decoration: none;
    color: white;
  }
  .add-btn{
    background-color: #8B4513;
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
    border-radius: 25px;
    margin: 20px;
    width: 300px;
  }
  .add-btn a{
    text-decoration: none;
    color: white;
    font-size: 30px;
  }
  /* .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
} */
